# Regla para detección automática de GoPro (HERO9 al HERO13+)
SUBSYSTEM=="net", ACTION=="add", ATTRS{idVendor}=="2672", RUN+="/usr/bin/systemctl start gopro_webcam.service"
SUBSYSTEM=="net", ACTION=="remove", ATTRS{idVendor}=="2672", RUN+="/usr/bin/systemctl stop gopro_webcam.service"

