[Unit]
Description=GoPro Webcam Auto-Start for HERO13
After=network.target

[Service]
Type=simple
# Ejecutamos con los parámetros de máxima calidad
ExecStart=/usr/local/sbin/gopro webcam -a -r 1080 -f linear
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
